.styling-nav ul{
    background-color: rgba(201, 219, 181, 0.404);
    display: flex;
    justify-content:center;
    gap: 5rem;
    list-style: none;
    padding: 1.1rem;
}
.square{
    background-color: rgba(27, 196, 202, 0.836);
    padding: 8px;
    position: absolute;
    top: 28%;
    right: 10%;
    border-radius: 5px;
}
.styling-nav a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.styling-nav a:hover, a:focus-visible{
    color: rgb(56, 143, 114);
}
.styling-nav{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 100;
}
main{
    padding-top: 100px;
    max-inline-size: 1000px;
    margin: auto;
}
.wrapper{
    background-color: #ebdcdc3a;
    border: 1px solid #e6dddd4b;
    padding-block-start: 100px;
    padding-inline: 60px;
    border-radius: 25px;
    margin-block-end: 0.5rem;
}
.wrapper>h1{
    position: absolute;
    top: 11%;
    left: 43%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    color: #000;
}
.two-column-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(202, 243, 243, 0.418);
    border-radius: 10px;
}
.pic-edit{
    border-radius: 50%;
}
img{
    display: block;
    max-inline-size: 100%;
    object-fit: cover;
}
.intro-div>h1{
    position: absolute;
    top: 43%;
    left: 24%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.2rem;

}
.intro-div>h3{
     position: absolute;
    top: 52%;
    left: 24%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}
.intro-div>p{
    position: absolute;
    top: 55%;
    left: 24%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}
.intro-div>p>abbr{
    text-decoration: none;
}
.about-me{
    background-color: rgba(214, 152, 152, 0.466);
    padding: 1.6rem 1rem;
    margin-block: 2rem;
    border-radius: 25px;
}
.about-me ul{
    list-style:disc;
    list-style-position: outside;
}
.about-me ul li::marker, .skill-section ul li::marker, .two-classes ul li::marker{
    color: rgba(26, 31, 20, 0.753);
}
.about-me h2{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-inline-start: 1.5rem;
    color:rgba(33, 46, 70, 0.897) ;
}
.about-me p, .about-me li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}
.about-me p{
    padding-inline-start: 1.5rem;
}
.about-me>p>abbr, .two-classes a{
    text-decoration: none;
}
.about-me h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    padding-inline-start: 1.2rem ;
}
.skill-section{
    background-color:rgba(221, 218, 168, 0.726) ;
    border-radius: 25px;
    padding: 1.7rem ;
    margin-block: 2rem ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.skill-section h2{
    font-size: 2rem;
    color: rgba(39, 18, 18, 0.836);
    padding-inline-start: 1.5rem;
}
.skill-section h3{
    font-size: 1.4rem;
    padding-inline-start: 1.1rem;
}
.skill-section h3::before, .about-me h3::before, .two-classes h3::before{
    content: '–';
    margin-inline-end:0.5rem;
}
.skill-section li{
    font-size: 1.2rem;
    list-style:square;
}
.two-classes{
    background-color: rgba(136, 204, 136, 0.664);
    border-radius: 25px;
    border: 1px hidden rgba(38, 51, 38, 0.856);
    padding-inline: 0.2rem;
    margin-block: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.two-classes h2{
    font-size: 2rem;
    color: rgb(45, 27, 53);
    padding-inline-start: 2.6rem;
}
.two-classes h3{
    font-size: 1.3rem;
    padding-inline-start: 2rem;
}
.two-classes ul li::marker{
    list-style:circle;
}
.two-classes ul{
    font-size: 1.2rem;
    padding-inline-start: 3.4rem;
    line-height: 2rem;
}
.two-classes a{
    padding-inline-start: 3rem;
    color: rgb(206, 75, 86);
}
.two-classes a:hover, .two-classes a:focus-visible{
    color: rgb(168, 10, 10);
}
.two-classes a:active{
    color: #000;
}
.talk{
    background-color: rgba(148, 113, 180, 0.37);
    border-radius: 25px;
    padding: 0.5rem 1.5rem 0.2rem;
    margin-block: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.talk h2{
    font-size: 2rem;
    color: rgba(53, 27, 36, 0.973);
    padding-inline-start: 1.2rem;
}
.talk p{
    font-size: 1.2rem;
}
.form-div{
    display: flex;
    gap: 5rem;
    padding-inline-start: 3rem;
}
.your-msg label{
    position: absolute;
    padding-inline-start: 3rem;
}
.your-msg>textarea{
    margin-inline-start:10.4rem;
    padding-inline-end:5rem ;
}
.form-div>p>select{
    padding-inline: 1.2rem;
}
.talk button{
    margin-inline-start: 3rem;
    padding: 0.4rem 0.6rem;
    color: rgb(37, 70, 59);
    border-color: rgb(38, 54, 54);
}
.talk button:hover, .talk button:focus-visible{
    color: rgb(52, 124, 124);
}
.talk>.linkedin-cls{
    line-height: 2rem;
    padding-inline-start:0.4rem;
    font-size: 1.3rem;
}
.social-links a{
    font-size: 2.5rem;
    text-decoration: none;
    position: relative;
    top: 0.4rem;
}
.social-links a:hover{
    color: rgb(36, 37, 83);
}
.linkedin-link a{
    color: rgba(31, 34, 41, 0.863);
    padding-inline-start: 0.4rem;
}
.foot{
    background-color: rgba(180, 170, 155, 0.575);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
}
.foot p{
    font-size: 1.3rem;
    padding-inline: 32rem;
}
.copyright{
    padding: 2rem 35rem;
}
.follow-para{
    color:rgb(46, 51, 26) ;
    font-weight: bold;
}
.git-style{
    color: rgb(31, 18, 18);
    padding-inline: 1rem; 
}
.yt-style{
    color: red;
    padding-inline: 1rem;
}
.insta-style{
    color: rgba(153, 16, 39, 0.89);
    padding-inline: 1rem;
}